/* src/components/ForgotPassword.css */
.forgot-password-page {
    background: url('../asset/background.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .forgot-password-card {
    background: rgba(255, 255, 255);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .forgot-password-card h3 {
    font-size: 18px;
    color: #666666;
  }
  
  .forgot-password-card p {
    font-size: 14px;
    color: #666666;
  }
  
  .forgot-password-card .form-group label {
    font-size: 14px;
    color: #666666;
  }
  
  .forgot-password-card .form-control {
    border-radius: 5px;
    font-size: 14px;
  }
  
  .forgot-password-card .back-to-login a {
    font-size: 12px;
    color: #666666;
    text-decoration: none;
  }
  
  .forgot-password-card .back-to-login a:hover {
    text-decoration: underline;
  }
  
  .forgot-password-card .btn-primary {
    background-color: #5a2d82;
    border-color: #5a2d82;
  }
  
  .forgot-password-card .btn-primary:hover {
    background-color: #471e6a;
    border-color: #471e6a;
  }
  