/* src/components/Login.css */
.login-page {
    background: url('../asset/background.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-card {
    background: rgba(255, 255, 255);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .login-card img {
    width: 50px;
    margin-bottom: 10px;
  }
  
  .login-card h2 {
    margin: 0;
    font-size: 24px;
    color: #333333;
  }
  
  .login-card h3 {
    font-size: 18px;
    color: #666666;
  }
  
  .login-card .form-group label {
    font-size: 14px;
    color: #666666;
  }
  
  .login-card .form-control {
    border-radius: 5px;
    font-size: 14px;
  }
  
  .login-card .forgot-password a {
    font-size: 12px;
    color: #666666;
    text-decoration: none;
  }
  
  .login-card .forgot-password a:hover {
    text-decoration: underline;
  }
  
  .login-card .btn-primary {
    background-color: #5a2d82;
    border-color: #5a2d82;
  }
  
  .login-card .btn-primary:hover {
    background-color: #471e6a;
    border-color: #471e6a;
  }
  